<app-navbar></app-navbar>
<!-- About section start -->

<section class="container about" id="about">
    <h1 class="text-center mt-3 pt-3">About  <span class="text-green">DL Soft.</span></h1>
    <div class="about-text mt-5 pt-5">
        <div class="row">
            <div class="col-md-5 text-center">
                <img src="assets/images/illustration/software_testing.svg" class="img-fluid" style="max-height: 400px;">
            </div>
            <div class="col-md-7">
                <h3>We Provide Tech Solutions That <br> Help Your Business Succeed</h3>
                <p>We are developing software, web application, mobile apps, ERP solutions, and working locally and globally in various govt projects, defense, education, banking & financial services, telecommunications, healthcare, and corporate area.</p>
                <h5 class="text-green">Seamless Management</h5>
                <p>Seamless operations management means planning and monitoring your operations to meet growth, implementing processes for efficiency, and constantly working to improve. This will reduce conversion issues like lack of payment methods, page inefficiencies, and the like.</p>
                <h5 class="text-green">Flawless Incorporation</h5>
                <p>Flawless is a registered software that provides specialist valuation, marketing, and tender sales services to the Company.</p>
            </div>
        </div>
    </div>

    <div class="about-another mt-5 pt-5">
        <div class="row">
            <div class="col-md-7">
                <h3>Solving The Business Problmes <br> With Help Of Future Technology</h3>
                <p>Embrace the future of business solutions with our advanced technology-driven approach. Experience problem-solving at its best, as we harness cutting-edge innovations to tackle your challenges head-on. Benefit from:</p>
                <ul>
                    <li>Seamless automation for streamlined workflows.</li>
                    <li>Data-driven insights for informed decision-making.</li>
                    <li>Tailored solutions for your specific needs.</li>
                    <li>Enhanced efficiency and competitive edge. Unleash the power of tomorrow's technology to solve today's business problems.</li>
                </ul>
            </div>
            <div class="col-md-5 text-center">
                <img src="assets/images/illustration/dashboard_user.svg" class="img-fluid" style="max-height: 400px;">
            </div>
        </div>
    </div>
</section>

<!-- About section end -->