<app-navbar></app-navbar>
<section style="height: 80vh;" class="container d-flex align-items-center">
    <div style="width: 100% !important;">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h2>Contact</h2>
                    <h5> E-Mail: <span class="text-green">contact@dlsoftbd.com</span> </h5>
                    <h5> Phone / WhatsApp: <a href="tel:+8801776852849" style="text-decoration: none;" class="text-green">+88 01776-852849</a> </h5>
                    <h5> Address: <span class="text-green">Shukrabad - Dhanmondi 1207 <br> Dhaka, Bangladesh</span> </h5>
                    <br>
                    <h5>
                        Connect with us on <a href="https://facebook.com/dlsoftbd" target="_blank" style="text-decoration: none;" class="text-green">Facebook</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-6 shadow-lg p-3 mb-5 bg-body rounded">
                <div>
                    <div class="mb-3">
                        <label for="guestname" class="form-label">Name</label>
                        <input type="text" class="form-control" id="guestname" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <label for="guestphone" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="guestphone" placeholder="Phone number">
                    </div>
                    <div class="mb-3">
                        <label for="guestmessage" class="form-label">Message</label>
                        <textarea class="form-control" id="guestmessage" rows="3"></textarea>
                    </div>
                </div>
                <button class="btn btn-success text-white">SEND!</button>
            </div>
        </div>
    </div>
</section>